<%-  include('./partials/headLink.ejs') %>

  <%-  include('./partials/header.ejs') %>

 <%-  include('./partials/main.ejs') %>
   
   <div  style="  width: 100%;   ">
 
               <div style="display: flex; align-items: center;justify-content: center;margin: 27vh 0;">
<h1 style="font-size: 20px;font-weight: 600;"> <%= error %> </h1>
               </div>
             
              </div>
        
   </div>
</section>
    </main>
    <%- include('./partials/footer.ejs'); %>
    <%- include('./partials/footerLink.ejs'); %>
